---
page_title: "ZooKeeper Provider"
description: |-
  The Terraform provider to manage resources like ZNodes and Sequential ZNodes.
---

{{/*
  This template serves as a starting point for documentation generation,
  and can be customized with hardcoded values and/or doc gen templates.
  For example, the {{ .SchemaMarkdown }} template can be used to replace manual schema documentation
  if descriptions of schema attributes are added in the provider source code.

  See: https://github.com/hashicorp/terraform-plugin-docs?tab=readme-ov-file#templates.
*/ -}}

# ZooKeeper Provider

This provider supports managing _persistent_ resources like **ZNodes** and **Sequential ZNodes**
in [ZooKeeper](https://zookeeper.apache.org/doc/current/index.html).

<blockquote style="font-style: italic; padding: 1em; background: #efefef; box-shadow: 3px 3px #ddd; font-size: 0.9em; text-align: justify; font-family: serif;">
ZooKeeper is a high-performance coordination service for distributed applications.
It exposes common services - such as naming, configuration management, synchronization, and group services - 
in a simple interface so you don't have to write them from scratch. 
You can use it off-the-shelf to implement consensus, group management, leader election, and presence protocols.
</blockquote>

ZooKeeper offers many features that are designed for distributed computing, while
they are running (live). But everything is built around the concept of 
[ZNode](https://zookeeper.apache.org/doc/current/zookeeperProgrammers.html#sc_zkDataModel_znodes).

<blockquote style="font-style: italic; padding: 1em; background: #efefef; box-shadow: 3px 3px #ddd; font-size: 0.9em; text-align: justify; font-family: serif;">
Every node in a ZooKeeper tree is referred to as a znode.
Znodes maintain a stat structure that includes version numbers for data changes, acl changes.
The stat structure also has timestamps. The version number, together with the timestamp,
allows ZooKeeper to validate the cache and to coordinate updates.
Each time a znode's data changes, the version number increases.
For instance, whenever a client retrieves data, it also receives the version of the data.
</blockquote>

Given the nature of Terraform providers, here we can handle only a subset of the things that ZooKeeper
offers:

* Persistent ZNodes
* Persistent Sequential ZNodes

_Ephemeral ZNodes_, _Watchers_ and other _"live"_ features can't be handled by a Terraform provider,
as they require a persistent connection: they are more targeted at runtime services and applications.

## Ideal use cases for this provider

* Storing data for other services to consume
* Reading data out of ZooKeeper, maybe to be used as part of a Terraform configuration
* Creating hierarchies of ZNodes to act as skeleton for other services
* In general, **CRUD operations around Persistent ZNodes and Persistent Sequential ZNodes**

## Example Usage

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}

## Important aspects about ZooKeeper and this provider

### ZooKeeper Sessions

From the [official documentation](https://zookeeper.apache.org/doc/current/zookeeperProgrammers.html#ch_zkSessions):

<blockquote style="font-style: italic; padding: 1em; background: #efefef; box-shadow: 3px 3px #ddd; font-size: 0.9em; text-align: justify; font-family: serif;">
A ZooKeeper client establishes a session with the ZooKeeper service by creating a handle to
the service using a language binding.
Once created, the handle starts off in the CONNECTING state and the client library tries to connect
to one of the servers that make up the ZooKeeper service at which point it switches to the CONNECTED state.
During normal operation the client handle will be in one of these two states.
If an unrecoverable error occurs, such as session expiration or authentication failure,
or if the application explicitly closes the handle, the handle will move to the CLOSED state.
...
</blockquote>

The underlying ZooKeeper client used in this provider uses a default `session_timeout`, but it's possible to tweak
it in case the execution of other Terraform operations introduces latencies that affect this operator. Normally
you shouldn't need to change the `session_timeout`, but it's good to have the option.

Additionally:

<blockquote style="font-style: italic; padding: 1em; background: #efefef; box-shadow: 3px 3px #ddd; font-size: 0.9em; text-align: justify; font-family: serif;">
To create a client session the application code must provide a connection string containing a
comma separated list of host:port pairs, each corresponding to a ZooKeeper server 
(e.g. "127.0.0.1:4545" or "127.0.0.1:3000,127.0.0.1:3001,127.0.0.1:3002").
The ZooKeeper client library will pick an arbitrary server and try to connect to it.
If this connection fails, or if the client becomes disconnected from the server for any reason,
the client will automatically try the next server in the list, until a connection is (re-)established.
</blockquote>

This provider of course supports passing a _servers_ configuration string, made of multiple entries and optional
ports. We _strongly_ encourage to make use of this feature, to ensure maximum reliability of the provider.

### The `stat` structure

[Time in ZooKeeper](https://zookeeper.apache.org/doc/current/zookeeperProgrammers.html#sc_timeInZk), and especially
time tracking, is key. ZooKeeper tracks time multiple ways:

* **Zxid** Every change to the ZooKeeper state receives a stamp in the form of a `zxid` (ZooKeeper Transaction Id).
  This exposes the total ordering of all changes to ZooKeeper.
  Each change will have a unique `zxid` and if `zxid1` is smaller than `zxid2` then `zxid1` happened before `zxid2`. 
* **Version numbers** Every change to a node will cause an increase to one of the version numbers of that node.
  The three version numbers are `version` (number of changes to the data of a znode),
  `cversion` (number of changes to the children of a znode),
  and `aversion` (number of changes to the ACL of a znode).
* **Ticks** When using multi-server ZooKeeper, servers use ticks to define timing of events such as status uploads,
  session timeouts, connection timeouts between peers, etc.
  The tick time is only indirectly exposed through the minimum session timeout (2 times the tick time);
  if a client requests a session timeout less than the minimum session timeout,
  the server will tell the client that the session timeout is actually the minimum session timeout.
* **Real** time ZooKeeper doesn't use real time, or clock time, at all except to put timestamps into
  the stat structure on znode creation and znode modification.

The time information, as well as other important fields, are accessible for each ZNode via their associated
[`stat` structure](https://zookeeper.apache.org/doc/current/zookeeperProgrammers.html#sc_zkStatStructure).

Of course, this provider exposes these `stat`, and can be relied upon to understand
the order of updates, or just to access metadata about the ZNode:

The Stat structure for each znode in ZooKeeper is made up of the following fields:

* `.stat.0.czxid`: The zxid of the change that caused this znode to be created.
* `.stat.0.mzxid`: The zxid of the change that last modified this znode.
* `.stat.0.pzxid`: The zxid of the change that last modified children of this znode.
* `.stat.0.ctime`: The time in milliseconds from epoch when this znode was created.
* `.stat.0.mtime`: The time in milliseconds from epoch when this znode was last modified.
* `.stat.0.version`: The number of changes to the data of this znode.
* `.stat.0.cversion`: The number of changes to the children of this znode.
* `.stat.0.aversion`: The number of changes to the ACL of this znode.
* `.stat.0.ephemeral_owner`: The session id of the owner of this znode if the znode is an ephemeral node.
  If it is not an ephemeral node, it will be zero.
* `.stat.0.data_length`: The length of the data field of this znode.
* `.stat.0.num_children`: The number of children of this znode.

These fields can be found under the `.stat` read-only attribute of each resource/data-source.
Compared to ZooKeeper naming, a few needed to change to comply with
[Terraform HCL identifiers syntax](https://www.terraform.io/language/syntax/configuration#identifiers).

**NOTE**: In this version of the provider, `.stat` is a single-element list, and so fields must be accessed
by using the index `0` in the list. This will change in `v2.x` of the provider, where it will be ported to
[terraform-plugin-framework](https://www.terraform.io/plugin/framework) and `.stat` will become a
[nested attribute](https://www.terraform.io/language/attr-as-blocks).
