name: Build and Test

on:
  pull_request:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - '.github/CONTRIBUTING.md'
      - '.github/SUPPORT.md'
  push:
    branches: [ main ]
    paths-ignore:
      - 'README.md'
      - 'CHANGELOG.md'
      - '.github/CONTRIBUTING.md'
      - '.github/SUPPORT.md'

permissions:
  contents: read

jobs:

  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:

      - name: Check out code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
          check-latest: true

      - name: Run linters
        uses: golangci/golangci-lint-action@v9
        with:
          version: latest

      - name: Generate
        run: make generate

      - name: Confirm no diff
        run: |
          git diff --compact-summary --exit-code || \
            (echo "*** Unexpected differences after code generation. Run 'make generate' and commit."; exit 1)

      - name: Build
        run: make build

  test:
    name: 'Tests (TF: ${{ matrix.terraform }} / ZK: ${{ matrix.zookeeper }})'
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15

    strategy:
      fail-fast: false
      matrix:
        terraform: # https://releases.hashicorp.com/terraform/
          - '0.12.*'
          - '0.14.*'
          - '0.15.*'
          - '1.0.*'
          - '1.1.*'
          - '1.2.*'
          - '1.3.*'
          - '1.4.*'
          - '1.5.*'
          - '1.6.*'
          - '1.7.*'
          - '1.8.*'
          - '1.9.*'
          - '1.10.*'
          - '1.11.*'
          - '1.12.*'
          - '1.13.*'
          - '1.14.*'
        zookeeper: # https://zookeeper.apache.org/releases.html
          - '3.3'
          - '3.4'
          - '3.5'
          - '3.6'
          - '3.7'
          - '3.8'
          - '3.9'

    services:
      zookeeper:
        image: zookeeper:${{ matrix.zookeeper }}
        ports:
          - 2181:2181

    steps:

      - name: Check out code
        uses: actions/checkout@v5

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version-file: 'go.mod'
          cache: true
          check-latest: true

      - name: Setup Terraform ${{ matrix.terraform }}
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false

      - name: Run acceptance test
        env:
          ZOOKEEPER_SERVERS: localhost:2181
          TF_ACC: 1
        run: make test
